*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.header1{
    height: 100vh;
    background-color:rgba(255, 192, 203, 0.811) ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hdr2 img{
    height: 100vh;
}
.btn{
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 0, 85);
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.h{
  
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
.hdr1 p{
    color:rgba(39, 39, 39, 0.60);
}
.hhdr2{
    text-align: center;
    padding: auto;
}
.flwr1{
    width: 300px;
    height: 413px;
    background-color:rgba(255, 192, 203, 0.811);
    
    border-radius:250px 250px 0px 0px ;
}
.flwr1 img{
    width: 80%;
    padding: 30px;
    padding-top: 80px;
}
.flwr22{
    width: 300px;
    height: 413px;
    background-color:rgba(5, 151, 160, 0.15);
    border-radius:250px 250px 0px 0px ;
}
.flwr22 img{
    width: 80%;
    padding: 30px;
    padding-top: 80px;
}
.flwr33{
    width: 300px;
    height: 413px;
    background-color:rgba(71, 125, 17, 0.15);
    
    border-radius:250px 250px 0px 0px ;
}
.flwr33 img{
    width:74%;
    padding: 30px;
    padding-top: 80px;
}
.hhdr3{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.sec1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    background-color: rgba(39, 39, 39, 0.338);
    text-align: center;
    padding: 30px;
   
}
.sec{
   padding-left: 290px;
}
.pin{
    color: rgb(255, 0, 85);
}

.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    background-color:rgba(255, 192, 203, 0.811) ;
}

.main1{
    text-align: center;
}